h1 {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%
}
aside {
    position: fixed;
    
    width: 100px;
    padding: 10px;
    height: 100%;
    background-color: aqua;
}

main {
    margin-top: 50px;
    margin-left: 120px;
}